<div class="wrapper">
  <div filled-button-group filled-button-group-column>
    <button
      filled-button
      filled-button-color="primary"
      filled-button-size="primary"
    >
      Button
    </button>

    <button
      filled-button
      filled-button-color="secondary"
      filled-button-size="primary"
    >
      Button
    </button>
    <button
      filled-button
      filled-button-color="danger"
      filled-button-size="primary"
    >
      Button
    </button>

    <button
      filled-button
      filled-button-color="primary"
      filled-button-size="small"
    >
      Button
    </button>
    <button
      filled-button
      filled-button-color="secondary"
      filled-button-size="small"
    >
      Button
    </button>
    <button
      filled-button
      filled-button-color="danger"
      filled-button-size="small"
    >
      Button
    </button>
  </div>
  <div filled-button-group filled-button-group-column>
    <button
      filled-button
      filled-button-color="primary"
      filled-button-size="primary"
      filled-button-disabled
    >
      Button
    </button>
    <button filled-button filled-button-size="small" filled-button-disabled>
      Button
    </button>
  </div>
</div>
